---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button/Button.astro";

// Get posts from content directory
const posts = await getCollection("posts", (post) => !post.data.draft);
---

<BaseLayout
	title="Blog - Beauty and Care"
	description="Porady i artykuły na temat pielęgnacji skóry, modelowania sylwetki i zabiegów kosmetycznych"
>
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				Blog - Najnowsze artykuły o pielęgnacji skóry i modelowaniu sylwetki
			</h1>
		</div>

		<div class="mx-auto mt-12 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => (
					<div class="border-base-200 group flex h-full flex-col overflow-hidden rounded-lg border shadow-sm transition-all duration-300 hover:shadow-md">
						<div class="bg-primary-50 p-6">
							<h2 class="h3 group-hover:text-primary-600 mb-2 text-pretty transition-colors">
								{post.data.title}
							</h2>
							<div class="flex items-center justify-between">
								<p class="text-primary-500 text-sm font-medium">{post.data.date}</p>
								{post.data.authorName && (
									<p class="text-primary-500 text-sm">{post.data.authorName}</p>
								)}
							</div>

							{post.data.categories && post.data.categories.length > 0 && (
								<div class="mt-2 flex flex-wrap gap-1">
									{post.data.categories.map((category) => (
										<span class="bg-primary-100 text-primary-700 rounded-full px-2 py-0.5 text-xs">
											{category}
										</span>
									))}
								</div>
							)}
						</div>

						<div class="flex flex-grow flex-col justify-between p-6">
							<p class="mb-4 text-base text-gray-600">{post.data.excerpt}</p>
							<div>
								<Button
									variant="ghost"
									arrow="right"
									href={`/blog/${post.slug || post.id}`}
									class="pl-0"
								>
									Czytaj więcej
								</Button>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
