---
/**
 * * This is a component that displays three blog posts
 * Larger on the left, smaller two on the right
 */

import { getCollection } from "astro:content";

// components
import Button from "@components/Button/Button.astro";

const posts = await getCollection("posts", (post) => !post.data.draft);

// Sort by date (newest first)
const sortedPosts = posts.sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

const firstThreePosts = sortedPosts.slice(0, 3);
---

<section id="blog" class="site-container mt-12 scroll-mt-10 py-8 md:py-12">
	<div class="mx-auto max-w-6xl text-center">
		<h2 class="h2 text-pretty uppercase">Artykuły, które pomogą Ci zadbać o swoje ciało</h2>
	</div>
	<div class="grid gap-10 pt-8 md:grid-cols-2 md:pt-12">
		{firstThreePosts.length > 0 && (
			<div class="md:bg-base-100 md:rounded-md md:p-10 md:pb-6">
				<div class="flex flex-col justify-between gap-2 h-full">
					<div>
						<h3 class="h3 text-primary-500 tracking-widest">{firstThreePosts[0].data.title}</h3>
						<p class="text-primary-500 text-sm mt-2">{firstThreePosts[0].data.date?.toLocaleDateString()}</p>
						<p class="mt-4 lg:text-lg">{firstThreePosts[0].data.excerpt}</p>
					</div>
					<div class="flex">
						<Button variant="ghost" arrow="right" href={`/blog/${firstThreePosts[0].slug}`} class="pl-0">
							Czytaj więcej
						</Button>
					</div>
				</div>
			</div>
		)}
		
		<div class="flex h-full flex-col justify-between gap-y-6">
			{firstThreePosts.length > 1 && (
				<div class="flex flex-col justify-between gap-2">
					<div>
						<h3 class="h3 text-primary-500 tracking-widest">{firstThreePosts[1].data.title}</h3>
						<p class="text-primary-500 text-sm mt-2">{firstThreePosts[1].data.date?.toLocaleDateString()}</p>
						<p class="mt-4">{firstThreePosts[1].data.excerpt}</p>
					</div>
					<div class="flex">
						<Button variant="ghost" arrow="right" href={`/blog/${firstThreePosts[1].slug}`} class="pl-0">
							Czytaj więcej
						</Button>
					</div>
				</div>
			)}
			
			<hr class="border-base-100 hidden border md:block" />
			
			{firstThreePosts.length > 2 && (
				<div class="flex flex-col justify-between gap-2">
					<div>
						<h3 class="h3 text-primary-500 tracking-widest">{firstThreePosts[2].data.title}</h3>
						<p class="text-primary-500 text-sm mt-2">{firstThreePosts[2].data.date?.toLocaleDateString()}</p>
						<p class="mt-4">{firstThreePosts[2].data.excerpt}</p>
					</div>
					<div class="flex">
						<Button variant="ghost" arrow="right" href={`/blog/${firstThreePosts[2].slug}`} class="pl-0">
							Czytaj więcej
						</Button>
					</div>
				</div>
			)}
		</div>
	</div>

	<div class="mt-12 flex justify-center">
		<Button href="/blog" variant="outline">Zobacz wszystkie artykuły</Button>
	</div>
</section>