---
import { type CollectionEntry } from "astro:content";
import Button from "@components/Button/Button.astro";

interface Props {
	posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div class="grid gap-x-4 gap-y-10 pt-8 md:grid-cols-3 md:pt-12">
	{posts.map((post) => (
		<div class="border-base-200 group flex h-full flex-col overflow-hidden rounded-lg border shadow-sm transition-all duration-300 hover:shadow-md">
			<div class="bg-primary-50 p-6">
				<h2 class="h3 group-hover:text-primary-600 mb-2 text-pretty transition-colors">
					{post.data.title}
				</h2>
				<div class="flex items-center justify-between">
					<p class="text-primary-500 text-sm font-medium">
						{post.data.date?.toLocaleDateString()}
					</p>
					{post.data.authorName && (
						<p class="text-primary-500 text-sm">{post.data.authorName}</p>
					)}
				</div>

				{post.data.categories && post.data.categories.length > 0 && (
					<div class="mt-2 flex flex-wrap gap-1">
						{post.data.categories.map((category) => (
							<span class="bg-primary-100 text-primary-700 rounded-full px-2 py-0.5 text-xs">
								{category}
							</span>
						))}
					</div>
				)}
			</div>

			<div class="flex flex-grow flex-col justify-between p-6">
				<p class="mb-4 text-base text-gray-600">{post.data.excerpt}</p>
				<div>
					<Button
						variant="ghost"
						arrow="right"
						href={`/blog/${post.slug}`}
						class="pl-0"
					>
						Czytaj więcej
					</Button>
				</div>
			</div>
		</div>
	))}
</div>
