---
import BaseLayout from "@layouts/BaseLayout.astro";
import Contact from "@components/Contact/Contact.astro";
import siteData from "@config/siteData.json";
---

<BaseLayout
	title="Kontakt - Beauty and Care"
	description="Skontaktuj się z nami, aby umówić wizytę lub uzyskać więcej informacji o naszych zabiegach"
	seoTitle={siteData.pages?.contact?.seoTitle}
	seoDescription={siteData.pages?.contact?.seoDescription}
	keywords={siteData.pages?.contact?.keywords}
	canonicalUrl={siteData.pages?.contact?.canonicalUrl}
	noindex={siteData.pages?.contact?.noindex}
>
	<div class="site-container pt-24 md:pt-36">
		<Contact />
	</div>
</BaseLayout>
